@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}
:root{
    --FuentePrincipal:'Roboto Slab', serif;
    /* colores */
    --titulo:#6f32be;
    --secundario:#00abfb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: rgb(198,227,236,0.486);
margin: 1rem;
}

.title{
    font-family: var(--FuentePrincipal);
    color: var(--titulo);
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
}
.header{
    background-color: #ffffff;
    width: 75%;
    height: fit-content;
    border: solid 1px white;
    border-radius: 15px;
    text-align: center;
    float: right;
}
.nav{
    background-color: white;
    width: 20%;
    height: 100vh;
    border: solid 1px white;
    border-radius: 15px;
}
.imgnav{
    text-align: center;
    font-family: var(--FuentePrincipal);
    font-weight: 600;
}
.img-admin{
    width: 5rem;
    height: 5rem;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1024px-User_icon_2.svg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 4rem;
}

.inicio,.Clientes,.Credito{
    display: flex;
    margin-bottom: 2rem
}
a{
    text-decoration: none;
    color: black;
    font-family: var(--FuentePrincipal);
    font-size: 1rem;
    padding-top: .5rem;
}
.links{
    margin-left: 2rem;
    margin-top: 4rem;
}
.Container-btnSalir{    
    width: 100%;
   margin-top: 45%;
   
}
.btnSalir{
    display: flex;
    margin: auto;
    background-color: var(--titulo);
    color: white;
    border: none;
    width: fit-content;
    padding: .5rem;
    font-family: var(--FuentePrincipal);
    font-weight: 800;
    border-radius: 10px;
}
.btnSalir:hover{
  cursor: pointer;
}
.container-Main{
    width: 70%;
    justify-content:space-evenly;
    float: right;
    margin-top: 3rem;
    display: flex;
    /* gap: 5rem; */
}

.creditos,.clientes{
    width: 25%;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    display: flex;
    margin: .5rem;
    padding: .5rem;
    -webkit-box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
}
.text-Creditos{
    display: block;
}
.imgg{
    /* margin-left: 5rem; */
    width: 100%;
    /* float: right; */
    margin-top: 1rem;
}
.imgCredito{
    float: right;
}
.text-Creditos,.text-clientes{
    font-size: 1.2rem;
    font-weight: 800;
}
.Cantidad{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--secundario);
}
.clientes{
    display: block;
    text-align: center;
    
}
.cantidadC{
    margin-top: .5rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--secundario);
}

.inicio:hover a,.Clientes:hover a,.Credito:hover a {
    -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    background-color: black;
    color: white;
    font-weight: 800;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    letter-spacing: .1rem;
}

.container-Clientes{
    width: fit-content;
    justify-content: center;
    margin-right: 0%;
    float: right;
  margin-top: -12rem;
  visibility: collapse;
  font-size: 1.5rem;
}
.container-Creditos{
    width: 80%;
    float: right;
    margin-top: -11rem;
    visibility: collapse;
    /* background-color: white; */
    border-radius: 15px;
    padding: .5rem;
    display: block;
    justify-content: center;
    /* background-color: #00abfb; */
}
thead{
    width: 70%;
    justify-items: center;
    background-color: #6f32be;
}
tbody{
    background-color: white;
}

.Form{
    background-color: white;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    column-gap: 2rem;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
    margin: auto;
}
.Form input,select{
    width: 100%;
    height: 1.5rem;
    background-color: white;
    border-radius: 5px;
    border: solid 1px gray;
    margin-bottom: .5rem;
}
.cedula{
    width: 90% !important;
}
.Form input[type="submit"]{
    padding: 0;
    width: fit-content;
    grid-column: 1/3;
    background-color: var(--titulo);
    margin: auto;
    color: #ffffff;
    margin-top: 1.5rem;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
.Form input[type="submit"]:hover{
    cursor: pointer;
}
.atras{
    height: fit-content;
    margin-bottom: 1rem;
    margin-left: 4rem;
    background-color: var(--titulo);
    color: #ffffff;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    letter-spacing: 2px;
}
.atras:hover{
    cursor: pointer;
}
.lupa{
    width: 2rem;
    background-color: var(--titulo);
    padding: .1rem;
    padding-top: .25rem;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
}